<!DOCTYPE html>
<html>

<head>
  <title>Reviews</title>
</head>

<body>
  <h1>Review</h1>

  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}
  </p>
  <p>
  <a href="/new_review">New Review</a> |
  <a href="/logout">Log out</a>
  </p>
  {% else %}

  <p> 
  <a href="/login">Log in</a> |
  <a href="/register">Sign up</a>
  </p>

  {% endif %}

  <hr>

  {% for review in review %}
  <p>
    <a href="/review/{{ review.id }}">{{ review.title }}</a><br>
    created by {{ review.username }}<br>
    {{ review.comment_count }} comments,
    newest {{ review.last_comment }}
  </p>
  <hr>
  {% endfor %}
</body>

</html>